html {
    height: 100%;
}
body {
    height: 100%;
    color: #000;
    font-size: 14px;
    line-height: 1.42;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.card {
    background: #F8F9FA;
    border-radius: 15px;
    overflow: hidden;
    max-width: 343px;
    margin-bottom: 8px;
}

.card--blue {
    background: #E1F1FB;
}

.card__content {
    padding: 0 16px 32px 16px;
}

.card__cover {
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 32px;
}

.card--recommended {
    border-radius: 15px;
    margin-top: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 30px;
    font-size: 12px;
    line-height: 16px;
    min-height: 28px;
    background: #D7FFDC url(img/recommended-img.png) no-repeat right 85px center;
}

.card__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 4px;
    text-align: center;
    font-weight: 350;
}

.card__owner {
    line-height: 20px;
    color: rgba(124, 133, 138, 1);
    margin-bottom: 16px;
    text-align: center;
}

.card__data-list {
    border-bottom: 1px dashed #9FA0AB;
    margin-bottom: 16px;
}

.data-list__item {
    margin-bottom: 16px;
}

.data-list__item-title {
    line-height: 14px;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(159, 160, 171, 1);
    font-weight: 400;
}

.data-list__item-content {
    font-size: 28px;
    line-height: 34px;
}

.data-list__item-content--price {
    font-size: 18px;
    line-height: 23px;
}

.data-list__item-description {
    font-size: 10px;
    line-height: 14px;
    color: rgba(147, 148, 161, 1);
}

.card__text {
    line-height: 20px;
    margin-bottom: 8px;
}

.card__text-list {
    list-style-type: disc;
    margin-bottom: 18px;
}

.advantages__item {
    list-style-type: disc;
    margin-bottom: 8px;
    margin-left: 12px;
}

.card__drop-down {
    margin-bottom: 20px;
}

.drop-down__item {
    margin-bottom: 12px;
    background: #fff;
    border-radius: 15px;
}

.button {
    display: inline-block;
    width: 311px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
}

.drop-down__button {
    background: #fff;
    background-image: url(img/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 24px center;
    line-height: 19px;
    border-radius: 15px;
    padding: 18.5px 165px 18.5px 20px;
}

.drop-down__button--active {
    background-image: url(img/up-arrow.png);
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.drop-down__content {
    display: none;
    overflow: hidden;
    padding: 0 20px 0 20px;
}

.drop-down__content--active {
    display: inline-block;
    background: #fff;
}

.drop-down__text {
    margin-bottom: 8px;
}

.text-list {
   list-style-type: disc;
}

.text-list__item {
    list-style-type: disc;
    margin-bottom: 8px;
    margin-left: 12px;
}

.card__button {
    background: #000;
    background-image: url(img/card-button-img.png);
    background-repeat: no-repeat;
    background-position: right 90px center;
    color: #fff;
    line-height: 19px;
    border-radius: 30px;
    padding: 17px 117px 17px 89px;
}

.card__logo {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 16px 0 16px 0;
}

.loan-card__content {
    padding: 0 16px 24px 16px;
}

.loan-card__data-list {
    border-bottom: none;
    border-top: 1px dashed #9FA0AB;
    padding-top: 16px;
    text-align: center;
}

.loan-card__button {
    background-position: right 92px center;
    text-align: center;
}
